@import (reference) "~less/compass/_theme.less";

@handle-width: 4px;

.resize-handle {
  position: absolute;
  background: @gray6;// #5d6c74;
  width: @handle-width;
  // right: 0;
  height: 100%;
  // box-shadow: 
  //   0 4px 0 0 #5d6c74,
  //   0 8px 0 0 #5d6c74;
}
